* {
    margin: 0;
    /* padding: 0; */
}

#awais {
    /* position: fixed; */
    margin: 0;
    width: calc(100% - 5px);
    height: 80px;
    top: 0px;
    background-color: rgba(126, 157, 65, 0.644);
    z-index: 1;
    /* opacity: 0.6; */
    /* margin: 0; */
    /* margin: auto; */
}

#main {
    display: flex;
    width: 94%;
    position: absolute;
    z-index: 1;
    /* margin: auto; */
    left: 0;
    right: 0;
    top: 15px;
    color: white;

}

.pic {
    margin-top: -19px;
    width: 98vw;
    height: 420px;

}

.some {
    height: 313px;
    width: 440px;
    position: absolute;
    left: 0px;
    top: 80px;

}

/*     
nav div{
flex-grow: 1;
} */

#Green-Earth {
    flex-grow: 5;
    position: relative;
    left: 17px;
    /* margin: 0%; */
}

#main li {
    justify-content: space-evenly;
    flex-grow: 1;
    list-style-type: none;
    color: white;
}

.li {
    display: inline-block;
    padding: 10px;
    left: 34px;
    position: relative;
}

#meradata {
    position: absolute;
    top: 220px;
    right: 25px;
    text-align: end;
    color: white;
}

#nature-logo {
    position: absolute;
    top: 370px;
    right: 30px;
}

#color {
    background-color: lightgreen;
    height: 40px;

}

footer {
    display: flex;
    list-style-type: none;
    /* z-index: 1; */
    margin-top: px;
    /* width: 100%; */
    width: calc(100% - 5px);
    background-color: rgb(127 157 65 / 78%);
    height: 125px;
}

footer {
    margin-top: -5px;
}

footer ol {
    display: flex;
    flex-grow: 2.8;
    margin-top: 35px;
}

.footer li {
    list-style-type: none;
    flex-grow: 2;
    /* text-align: left; */
}

.text {
    color: white;
    margin-top: -45px;
    margin-left: -15px;
}
